# extends "layout.html"
<!--
    This file is part of csgfitter <https://gitlab.com/Skrupellos/csg-fitter>
    Copyright (c) Skruppy <skruppy@onmars.eu>
    SPDX-License-Identifier: Apache-2.0
-->

# block inline_css
	/*<![CDATA[*/
	
	.sk-text-matrix .sk-color {
		display: inline-block;
		width: 1.5em;
		height: 1.3em;
		margin-bottom: -0.15em;
		border: 2px solid grey;
	}
	
	.sk-geo {
		display: inline-block;
		margin-bottom: -0.15em;
		padding: 0.1em 0.3em;
		border-radius: 0.3em;
	}
	
	.sk-geo-a {
		background-color: #ffbfbf;
	}
	
	.sk-geo-b {
		background-color: #bcbcff;
	}
	
	.sk-geo-model {
		border: 0.15em solid black;
	}
	
	.sk-geo-ref {
		border: 0.15em dashed black;
	}
	
	/*]]>*/
# endblock


# block nav
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="#evaluation">Evaluation</a></li>
		<li class="nav-item"><a class="nav-link" href="#geo_a">Geo A</a></li>
		<li class="nav-item"><a class="nav-link" href="#geo_b">Geo B</a></li>
	</ul>
# endblock


# block content
	<h1>{{ test_name }}</h1>
	
	<p>
		{{ creator.description | safe }}
	</p>
	
	<h2 class="mt-5" id="evaluation">Evaluation</h2>
	<div class="row w-75 mb-4">
		<div class="col-sm-6">
			<div class="card">
				<h5 class="card-header">Geo <span class="sk-geo sk-geo-a">A</span></h5>
				<img class="card-img-bottom" src="{{ test_name }}-a.png" />
			</div>
		</div>
			
		<div class="col-sm-6">
			<div class="card">
				<h5 class="card-header">Geo <span class="sk-geo sk-geo-b">B</span></h5>
				<img class="card-img-bottom" src="{{ test_name }}-b.png" />
			</div>
		</div>
	</div>
	
	<p>
		The table below contains the average score and standard deviation of the 50 evaluatios on how well the CSG tree of the <span class="sk-geo-model p-1">model</span> geometry matches the point cloud of the <span class="sk-geo-ref p-1">reference</span> geometry (sampled at a rate of 10).
	</p>
	
	<table class="table table-sm table-hover sk-text-matrix">
		<thead>
		<tr>
			<th><span class="sk-geo sk-geo-a sk-geo-model">A</span> → <span class="sk-geo sk-geo-b sk-geo-ref">B</span></th>
			<th><span class="sk-geo sk-geo-b sk-geo-model">B</span> → <span class="sk-geo sk-geo-a sk-geo-ref">A</span></th>
			<th><span class="sk-geo sk-geo-a sk-geo-model">A</span> → <span class="sk-geo sk-geo-a sk-geo-ref">A</span></th>
			<th><span class="sk-geo sk-geo-b sk-geo-model">B</span> → <span class="sk-geo sk-geo-b sk-geo-ref">B</span></th>
			<th>Configuration</th>
		</tr>
		</thead>
		
		<tbody>
		# set g = namespace(last_eva = None)
		# for eva in evas:
			# set eva_nr = loop.index0
			# if eva[0] != g.last_eva and g.last_eva:
				<tr><td colspan="5"></td></tr>
			# endif
			# set g.last_eva = eva[0]
			<tr>
				# for model, reference in test_types:
					# set cell = tables[(test_name, eva_nr, model, reference)]
					<td class="pt-1 pb-1">
						<div class="sk-color" style="background: {{ cell.color }}70;"> </div>
						{{ '{:.2f}'.format(cell.mean) }} <small title="Offset standard deviation" class="text-muted">±{{ '{:.2f}'.format(cell.std) }}</small>
					</td>
				# endfor
				<td class="pt-1 pb-1">{{ " ".join(eva) }}</td>
			</tr>
		# endfor
		</tbody>
	</table>
	
	# for geo in geos:
		<h2 class="pt-5" id="geo_{{ geo.name | lower }}">Geo {{ geo.name }}</h2>
		
		<p>
			<img src="{{ test_name }}-{{ geo.name | lower }}.png" />
		</p>
		
		<h3>JSON</h3>
		<p><a href="{{ test_name }}-{{ geo.name | lower }}.json">{{ test_name }}-{{ geo.name | lower }}.json</a></p>
		<pre class="bg-light"><code>{{ geo.json }}</code></pre>
		
		<h3 class="pt-3">OpenSCAD</h3>
		<p><a href="{{ test_name }}-{{ geo.name | lower }}.scad">{{ test_name }}-{{ geo.name | lower }}.scad</a></p>
		<pre class="bg-light"><code>{{ geo.scad }}</code></pre>
	# endfor
# endblock
