# extends "layout.html"
<!--
    This file is part of csgfitter <https://gitlab.com/Skrupellos/csg-fitter>
    Copyright (c) Skruppy <skruppy@onmars.eu>
    SPDX-License-Identifier: Apache-2.0
-->


# macro bucket_fill(p)
	# if p < 1
		<span class="text-danger">{{ '{:.1f}'.format(p) }}</span>
	# elif p < 10
		<span class="text-warning">{{ '{:.0f}'.format(p) }}</span>
	# elif p < 100
		<span class="text-success">{{ '{:.0f}'.format(p) }}</span>
	# else
		<span class="text-info">{{ '{:.0f}'.format(p) }}</span>
	# endif
# endmacro


# block content
	<h1>{{ title }}</h1>
	<figure class="figure w-50">
		<a href="{{model.render_file}}" title="Click to zoom">
			<img src="{{model.render_file}}" class="figure-img img-fluid" />
		</a>
	</figure>
	
	
	<h2>Bucket fillings</h2>
	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th>Geo</th>
				<th>Bucket key</th>
				<th>Bucket fills</th>
			</tr>
		</thead>
		
		<tbody>
			# for bucket in model.buckets
				<tr>
					<td><code>{{ '{:08x}'.format(bucket.geo) }}</code></td>
					<td><code>{{ '{:08x}'.format(bucket.key) }}</code></td>
					<td>
						# for p, run in bucket.points
							<span title="{{run}}">{{ bucket_fill(p) }}</span>
							
							# if not loop.last
								,
							# endif
						# endfor
					</td>
				</tr>
			# endfor
		</tbody>
	</table>
	
	
	<h2>Sources</h2>
	<p><a href="{{ model.json_file }}">{{ model.json_file }}</a></p>
	<pre class="bg-light"><code>{{ model.json }}</code></pre>
	
	<p><a href="{{ model.scad_file }}">{{ model.scad_file }}</a></p>
	<pre class="bg-light"><code>{{ model.scad }}</code></pre>
# endblock
