# extends "layout.html"
<!--
    This file is part of csgfitter <https://gitlab.com/Skrupellos/csg-fitter>
    Copyright (c) Skruppy <skruppy@onmars.eu>
    SPDX-License-Identifier: Apache-2.0
-->


# macro bucket_fill(p)
	# if p < 1
		<span class="text-danger">{{ '{:.1f}'.format(p) }}</span>
	# elif p < 10
		<span class="text-warning">{{ '{:.0f}'.format(p) }}</span>
	# elif p < 100
		<span class="text-success">{{ '{:.0f}'.format(p) }}</span>
	# else
		<span class="text-info">{{ '{:.0f}'.format(p) }}</span>
	# endif
# endmacro

# block content
	<h1>{{ title }}</h1>
	
	<h2>Models overview</h2>
	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th>Model</th>
				<th>Worst bucket fills</th>
				<th>Valid Buckets</th>
			</tr>
		</thead>
		
		<tbody>
			# for model_name, model in models.items()
				<tr>
					<td>{{ model_name }}</td>
					<td>
						# for p in model.worst_bucket_fills
							{{ bucket_fill(p) }}
							
							# if not loop.last:
								/
							# endif
						# endfor
					</td>
					<td>
						# if model.valid_buckets != model.unique_buckets
							<span class="text-danger">{{ model.valid_buckets }}</span>
						# else
							{{ model.valid_buckets }}
						# endif
						/ {{ model.unique_buckets }}
						
						<small class="text-muted">{{ '({:.0%} incomplete)'.format(model.failed_buckets / model.unique_buckets) }}</small>
					</td>
				</tr>
			# endfor
		</tbody>
	</table>
	
	
	<h2>CPUs</h2>
	<dl>
		# for cpu in cpus.values()
			<dt><em>{{ cpu.name }}</em> ({{ cpu.count }}&times;)</dt>
			<dl>{{ cpu.hosts | sort | join(', ') }}</dl>
		# endfor
	</dl>
# endblock
