# extends "layout.html"
<!--
    This file is part of csgfitter <https://gitlab.com/Skrupellos/csg-fitter>
    Copyright (c) Skruppy <skruppy@onmars.eu>
    SPDX-License-Identifier: Apache-2.0
-->


# block inline_css
	.col-group-start {
		border-left: 1px solid #dee2e6;
	}
	
	.table-bordered .col-group-start {
		border-left: 2px solid #dee2e6;
	}
# endblock


# macro score(score, base, key)
	# if score > base
		# set color = 'text-danger'
	# else
		# set color = 'text-success'
	# endif
	<span class="{{ color }}">
		{{ '{:,.3f}'.format(score) }}
	</span>
# endmacro


# macro model_link(name)
	<a href="{{ name }}.html">{{ name }}</a>
# endmacro


# block nav
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="#models">Models</a></li>
		<li class="nav-item"><a class="nav-link" href="#runtime">Actual runtime</a></li>
		<li class="nav-item"><a class="nav-link" href="#parallelization">Parallelization effects</a></li>
		<li class="nav-item"><a class="nav-link" href="#quality">Quality</a></li>
		<li class="nav-item"><a class="nav-link" href="#csg_tree">CSG Tree</a></li>
		<li class="nav-item"><a class="nav-link" href="#clique_stats">Clique stats</a></li>
		<li class="nav-item"><a class="nav-link" href="#partition_stats">Partition stats</a></li>
	</ul>
# endblock


# block content
	<h1>{{ title }}</h1>
	<p>
		This page contines the final results of this work.
		But before you take the results for granted, check the <a href="debug.html">debug output</a> for any missconfigurations.
	</p>
	
	<h2 id="models">Models</h2>
	<p>
		In the following sections, the clique and the partition based algorithms for fitting an CSG tree to a point cloud are compared against each other.
		For reference, also the base evolutionary algorithm (normal) was evaluated and, if possible the original model.
		The algorithms havbe been appied 30 times to following {{ models | length }} models:
	</p>
	
	<div class="row">
		# for model_name, model in models.items()
			<div class="col-2">
				<div class="card mb-3">
					<img class="card-img-top" src="{{ model_name }}.png" alt="Card image cap" />
					<div class="card-body">
						<p class="card-text">{{ model_link(model_name) }}</p>
					</div>
				</div>
			</div>
		# endfor
	</div>
	
	<h2 id="runtime">Actual serial and parallel runtime</h2>
	<p>
		The following table lists the avereage times required for the algorithmes to fit the models on one computation node in serial and, if possible, on multiple Nodes (Nds) in parallel.
		The table also shows how many times the the execution is faster or slower compared to the baseline and how big the speedup between the serial and parallel exectution is.
		Gray boxes indicate that the model doesn't allow for parallelization with this algorithm, so no significant change in runtime is expected.
	</p>
	
	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th class="align-top" rowspan="2">Model</th>
				<th class="align-top text-right col-group-start">Normal<br /><small class="text-muted">(baseline)</small></th>
				<th class="align-top text-right col-group-start" colspan="2">Clique</th>
				<th class="align-top text-right col-group-start" colspan="2">Partitioned</th>
			</tr>
			<tr>
				<th class="align-top text-right col-group-start">Serial [s]</th>
				<th class="align-top text-right col-group-start">Serial [s]</th>
				<th class="align-top text-right">Parallel [s]</th>
				<th class="align-top text-right col-group-start">Serial [s]</th>
				<th class="align-top text-right">Parallel [s]</th>
			</tr>
		</thead>
		
		<tbody>
			# for model_name, model in models.items()
				<tr>
					<td>{{ model_link(model_name) }}</td>
					
					<td class="text-right col-group-start">
						{{ '{:,.1f}'.format(model.evos['evo'].runtime_mean) }}
						<br/>
					</td>
					
					<td class="text-right col-group-start">
						{{ '{:,.1f}'.format(model.evos['clique_evo'].fitter.runtime_T_mean) }}
						<br/>
						{{ format_diff(model.evos['evo'].runtime_mean, model.evos['clique_evo'].fitter.runtime_T_mean, -1) | safe }}
					</td>
					<td class="text-right {{ 'table-secondary' if model.evos['clique_evo'].fitter.job_cnt_mean == 1 else '' }}">
						{{ '{:,.1f}'.format(model.evos['clique_evo'].fitter.runtime_actual_Tp_mean) }}
						<br/>
						{{ format_diff(model.evos['evo'].runtime_mean, model.evos['clique_evo'].fitter.runtime_actual_Tp_mean, -1) | safe }}
						<br/>
						<small class="text-muted">
							(Nds: {{ '{:,.0f}'.format(model.evos['clique_evo'].fitter.job_cnt_mean) }} /
							Spd-up: {{ '{:,.0f}'.format(model.evos['clique_evo'].fitter.runtime_actual_eta_s_mean) }}&hairsp;&times;)
						</small>
					</td>
					
					<td class="text-right col-group-start">
						{{ '{:,.1f}'.format(model.evos['part_evo'].fitter.runtime_T_mean) }}
						<br/>
						{{ format_diff(model.evos['evo'].runtime_mean, model.evos['part_evo'].fitter.runtime_T_mean, -1) | safe }}
					</td>
					<td class="text-right {{ 'table-secondary' if model.evos['part_evo'].fitter.job_cnt_mean == 1 else '' }}">
						{{ '{:,.1f}'.format(model.evos['part_evo'].fitter.runtime_actual_Tp_mean) }}
						<br/>
						{{ format_diff(model.evos['evo'].runtime_mean, model.evos['part_evo'].fitter.runtime_actual_Tp_mean, -1) | safe }}
						<br/>
						<small class="text-muted">
							(Nds: {{ '{:,.0f}'.format(model.evos['part_evo'].fitter.job_cnt_mean) }} /
							Spd-up: {{ '{:,.0f}'.format(model.evos['part_evo'].fitter.runtime_actual_eta_s_mean) }}&hairsp;&times;)
						</small>
					</td>
				</tr>
			# endfor
		</tbody>
	</table>
	
	
	<h2 id="parallelization">Effekt of parallel execution</h2>
	<p>
		This section gives more insighs on how parallelization affected the runtime.
		It not only shows the actually archiveable speedup based on how many times the specific model can be diveded (Nds) an the longes execution time of the parts (Worst Nd time),
		but also the theoretical speedup based on <a href="https://en.wikipedia.org/wiki/Amdahl's_law">Amdahl's law</a>.
	</p>
	
	# for evo_name in ['part_evo', 'clique_evo']
		<h5>{{ evo_name }}</h5>
		
		<table class="table table-sm table-hover">
			<thead>
				<tr>
					<th class="align-top">Model</th>
					<th class="align-top text-right" data-toggle="tooltip" title="Number of computation nodes. This equals the number of parts the model can be devided into.">Nds</th>
					<th class="align-top text-right" data-toggle="tooltip" title="Average numer of primites each computation node had to deal with">Avg. Prms<br/>per Nd</th>
					<th class="align-top text-right" data-toggle="tooltip" title="Runtime of the computation node computing the logest time">Worst Nd<br/>time [s]</th>
					<th class="align-top text-right" data-toggle="tooltip" title="Absolute and relative time of the computation which can only be executet in serial">Ts</th>
					<th class="align-top text-center pl-0 pr-0">+</th>
					<th class="align-top" data-toggle="tooltip" title="Absolute and relative time of the computation which can be executet in parallel">Tp</th>
					<th class="align-top text-right" data-toggle="tooltip" title="Practical total runtime if run in parallel">Actual<br/>parallel T [s]</th>
					<th class="align-top text-right" data-toggle="tooltip" title="Theoretical total runtime if run in parallel according to Amdahl's law">Theoretical<br/>parallel T [us]</th>
					<th class="align-top text-right" data-toggle="tooltip" title="Total runtime if run completely serial">Serial T [s]</th>
				</tr>
			</thead>
			
			<tbody>
				# for model_name, model in models.items()
					<tr>
						<td>{{ model_link(model_name) }}</td>
						
						<td class="text-right">
							{{ '{:,.0f}'.format(model.evos[evo_name].fitter.job_cnt_mean) }}
						</td>
						
						<td class="text-right">
							{{ '{:,.0f}'.format(model.evos[evo_name].fitter.primitive_cnt_mean) }}
						</td>
						
						<td class="text-right">
							{{ '{:,.1f}'.format(model.evos[evo_name].fitter.para_worst_time_mean) }}
						</td>
						
						<td class="text-right">
							{{ '{:,.0f}'.format(model.evos[evo_name].fitter.runtime_ts_mean * 1_000_000) }}&hairsp;us
							<br/>
							<small>{{ '{:,.1%}'.format(1 - model.evos[evo_name].fitter.para_factor_mean) }}</small>
						</td>
						<td class="pl-0 pr-0 text-center">+</td>
						<td class="">
							{{ '{:,.0f}'.format(model.evos[evo_name].fitter.runtime_tp_mean) }}&hairsp;s
							<br/>
							<small>{{ '{:,.1%}'.format(model.evos[evo_name].fitter.para_factor_mean) }}</small>
						</td>
						
						<td class="text-right {{ 'table-secondary' if model.evos[evo_name].fitter.job_cnt_mean == 1 else '' }}">
							{{ '{:,.1f}'.format(model.evos[evo_name].fitter.runtime_actual_Tp_mean) }}
							<br/>
							<small class="text-muted">
								({{ '{:,.0f}'.format(model.evos[evo_name].fitter.runtime_actual_eta_s_mean) }}&hairsp;&times;)
							</small>
						</td>
						
						<td class="text-right">
							{{ '{:,.1f}'.format(model.evos[evo_name].fitter.runtime_theoretical_Tp_mean * 1_000_000) }}
							<br/>
							<small class="text-muted">
								({{ '{:,.0f}'.format(model.evos[evo_name].fitter.runtime_theoretical_eta_s_mean) }}&hairsp;&times;)
							</small>
						</td>
						
						<td class="text-right">
							{{ '{:,.1f}'.format(model.evos[evo_name].fitter.runtime_T_mean) }}
						</td>
					</tr>
				# endfor
			</tbody>
		</table>
	# endfor
	
	<p>
		Scatter plot how long the the evolutionary algorithm needed for a given number of primitives,
		to see wheather the primitive groupings have any effect on the evo speed.
	</p>
	<img src="scatter.png" />
	
	
	<h2 id="quality">Quality of fitting</h2>
	<p>
		Appart from the fitting speed, the quality of the final result is also important.
		Hence, the this sections shows the final fitting scores.
		To speedup computation, the evenly distributed (complete) point cloud has been reduced to one containing only 3 points per primitive and set of containing primitives (reduced).
		This reduced point cloud is what the algorithms "see".
		The compolete one is the one humans probably would prefer.
	</p>
	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th class="align-top" rowspan="2">Model</th>
				<th class="align-top text-right col-group-start" colspan="2">Normal<br /><small class="text-muted">(baseline)</small></th>
				<th class="align-top text-right col-group-start" colspan="3">Clique</th>
				<th class="align-top text-right col-group-start" colspan="3">Partitioned</th>
			</tr>
			<tr>
				<th class="align-top text-right col-group-start">Complete</th>
				<th class="align-top text-right">Reduced</th>
				<th class="align-top text-right col-group-start">Complete</th>
				<th class="align-top text-right">Reduced</th>
				<th class="align-top text-right">Node</th>
				<th class="align-top text-right col-group-start">Complete</th>
				<th class="align-top text-right">Reduced</th>
				<th class="align-top text-right">Node</th>
			</tr>
		</thead>
		
		<tbody>
			# for model_name, model in models.items()
				<tr>
					<td>{{ model_link(model_name) }}</td>
					<td class="text-right col-group-start">
						{{ '{:,.3f}'.format(model.evos['evo'].complete_score_mean) }}
						<small class="text-muted" data-toggle="tooltip" title="Standard deviation">
							±{{ '{:,.3f}'.format(model.evos['evo'].complete_score_std) }}
						</small>
					</td>
					<td class="text-right">
						{{ '{:,.3f}'.format(model.evos['evo'].reduced_score_mean) }}
						<small class="text-muted" data-toggle="tooltip" title="Standard deviation">
							±{{ '{:,.3f}'.format(model.evos['evo'].reduced_score_std) }}
						</small>
					</td>
					
					<td class="text-right col-group-start">
						{{ score(model.evos['clique_evo'].complete_score_mean, model.evos['evo'].complete_score_mean, '') }}
						<small class="text-muted" data-toggle="tooltip" title="Standard deviation">
							±{{ '{:,.3f}'.format(model.evos['clique_evo'].complete_score_std) }}
						</small>
					</td>
					<td class="text-right">
						{{ score(model.evos['clique_evo'].reduced_score_mean, model.evos['evo'].reduced_score_mean, '') }}
						<small class="text-muted" data-toggle="tooltip" title="Standard deviation">
							±{{ '{:,.3f}'.format(model.evos['clique_evo'].reduced_score_std) }}
						</small>
					</td>
					<td class="text-right">
						# set cs = model.evos['clique_evo'].fitter
						# if cs.scores_mean
							<span class="text-info">{{ '{:,.3f}'.format(cs.scores_mean) }}</span>
						# else
							{{ '{:,.3f}'.format(cs.scores_mean) }}
						# endif
						
						# if cs.worst_score_mean
							(Worst: <span class="text-info">{{ '{:,.2f}'.format(cs.worst_score_mean) }}</span>)
						# else
							(Worst: {{ '{:,.2f}'.format(cs.worst_score_mean) }})
						# endif
					</td>
					
					<td class="text-right col-group-start">
						{{ score(model.evos['part_evo'].complete_score_mean, model.evos['evo'].complete_score_mean, '') }}
						<small class="text-muted" data-toggle="tooltip" title="Standard deviation">
							±{{ '{:,.3f}'.format(model.evos['part_evo'].complete_score_std) }}
						</small>
					</td>
					<td class="text-right">
						{{ score(model.evos['part_evo'].reduced_score_mean, model.evos['evo'].reduced_score_mean, '') }}
						<small class="text-muted" data-toggle="tooltip" title="Standard deviation">
							±{{ '{:,.3f}'.format(model.evos['part_evo'].reduced_score_std) }}
						</small>
					</td>
					<td class="text-right">
						# set cs = model.evos['part_evo'].fitter
						# if cs.scores_mean
							<span class="text-info">{{ '{:,.3f}'.format(cs.scores_mean) }}</span>
						# else
							{{ '{:,.3f}'.format(cs.scores_mean) }}
						# endif
						
						# if cs.worst_score_mean
							(Worst: <span class="text-info">{{ '{:,.2f}'.format(cs.worst_score_mean) }}</span>)
						# else
							(Worst: {{ '{:,.2f}'.format(cs.worst_score_mean) }})
						# endif
					</td>
				</tr>
			# endfor
		</tbody>
	</table>
	
	
	<h2 id="csg_tree">CSG Tree</h2>
	<p>
		The following sub sections show some characteristics of the resulting CSG tree.
		For comparison, also the reference CSG tree, on which the referenc point cloud is based on, is given.
		Keep in mind, that for most of the characteristics, the red/grenn/blue does not indicate whether something is better or worse.
		It just indicates whether something is bigger or smaller (or nearly the same).
	</p>
	<h5>Total number of Operations</h5>
	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th class="align-top">Model</th>
				<th class="align-top text-right">Reference<br /><small class="text-muted">(1st baseline)</small></th>
				<th class="align-top text-right">Normal<br /><small class="text-muted">(2nd baseline)</small></th>
				<th class="align-top text-right">Clique</th>
				<th class="align-top text-right">Partitioned</th>
			</tr>
		</thead>
		
		<tbody>
			# for model_name, model in models.items()
				<tr>
					<td>{{ model_link(model_name) }}</td>
					<td class="text-right">
						{{ '{:.1f}'.format(model.stats.op_cnt_mean) }}
						<small class="text-muted">(
						{{ '{:.0%}'.format(model.stats.op_type_ratio.union) }} +
						{{ '{:.0%}'.format(model.stats.op_type_ratio.intersect) }} +
						{{ '{:.0%}'.format(model.stats.op_type_ratio.subtract) }}
						)</small><br />
					</td>
					
					<td class="text-right">
						{{ '{:.1f}'.format(model.evos['evo'].csg_tree.op_cnt_mean) }}
						<small class="text-muted">(
						{{ '{:.0%}'.format(model.evos['evo'].csg_tree.op_type_ratio.union) }} +
						{{ '{:.0%}'.format(model.evos['evo'].csg_tree.op_type_ratio.intersect) }} +
						{{ '{:.0%}'.format(model.evos['evo'].csg_tree.op_type_ratio.subtract) }}
						)</small><br />
						{{ format_diff(model.stats.op_cnt_mean, model.evos['evo'].csg_tree.op_cnt_mean, -1) | safe }}
					</td>
					
					<td class="text-right">
						{{ '{:.1f}'.format(model.evos['clique_evo'].csg_tree.op_cnt_mean) }}
						<small class="text-muted">(
						{{ '{:.0%}'.format(model.evos['clique_evo'].csg_tree.op_type_ratio.union) }} +
						{{ '{:.0%}'.format(model.evos['clique_evo'].csg_tree.op_type_ratio.intersect) }} +
						{{ '{:.0%}'.format(model.evos['clique_evo'].csg_tree.op_type_ratio.subtract) }}
						)</small><br />
						{{ format_diff(model.stats.op_cnt_mean, model.evos['clique_evo'].csg_tree.op_cnt_mean, -1) | safe }}<br />
						{{ format_diff(model.evos['evo'].csg_tree.op_cnt_mean, model.evos['clique_evo'].csg_tree.op_cnt_mean, -1) | safe }}
					</td>
					
					<td class="text-right">
						{{ '{:.1f}'.format(model.evos['part_evo'].csg_tree.op_cnt_mean) }}
						<small class="text-muted">(
						{{ '{:.0%}'.format(model.evos['part_evo'].csg_tree.op_type_ratio.union) }} +
						{{ '{:.0%}'.format(model.evos['part_evo'].csg_tree.op_type_ratio.intersect) }} +
						{{ '{:.0%}'.format(model.evos['part_evo'].csg_tree.op_type_ratio.subtract) }}
						)</small><br />
						{{ format_diff(model.stats.op_cnt_mean, model.evos['part_evo'].csg_tree.op_cnt_mean, -1) | safe }}<br />
						{{ format_diff(model.evos['evo'].csg_tree.op_cnt_mean, model.evos['part_evo'].csg_tree.op_cnt_mean, -1) | safe }}
					</td>
				</tr>
			# endfor
		</tbody>
	</table>
	
	# for title, key in [('Tree height', 'tree_height'), ('Number of Geos', 'geo_cnt'), ('Average geo level', 'geo_levels'), ('Average numer of children per operator', 'op_widths'), ('Number of tree nodes', 'node_cnt')]
		<h5>{{ title }}</h5>
		<table class="table table-sm table-hover">
			<thead>
				<tr>
					<th class="align-top">Model</th>
					<th class="align-top text-right">Reference<br /><small class="text-muted">(1st baseline)</small></th>
					<th class="align-top text-right">Normal<br /><small class="text-muted">(2nd baseline)</small></th>
					<th class="align-top text-right">Clique</th>
					<th class="align-top text-right">Partitioned</th>
				</tr>
			</thead>
			
			<tbody>
				# for model_name, model in models.items()
					<tr>
						<td>{{ model_link(model_name) }}</td>
						
						<td class="text-right">
							{{ '{:.2f}'.format(model.stats[key+'_mean']) }}
						</td>
						
						<td class="text-right">
							{{ '{:.2f}'.format(model.evos['evo'].csg_tree[key+'_mean']) }}<br/>
							{{ format_diff(model.stats[key+'_mean'], model.evos['evo'].csg_tree[key+'_mean'], -1) | safe }}
						</td>
						
						<td class="text-right">
							{{ '{:.2f}'.format(model.evos['clique_evo'].csg_tree[key+'_mean']) }}<br />
							{{ format_diff(model.stats[key+'_mean'], model.evos['clique_evo'].csg_tree[key+'_mean'], -1) | safe }}<br />
							{{ format_diff(model.evos['evo'].csg_tree[key+'_mean'], model.evos['clique_evo'].csg_tree[key+'_mean'], -1) | safe }}
						</td>
						
						<td class="text-right">
							{{ '{:.2f}'.format(model.evos['part_evo'].csg_tree[key+'_mean']) }}<br />
							{{ format_diff(model.stats[key+'_mean'], model.evos['part_evo'].csg_tree[key+'_mean'], -1) | safe }}<br />
							{{ format_diff(model.evos['evo'].csg_tree[key+'_mean'], model.evos['part_evo'].csg_tree[key+'_mean'], -1) | safe }}
						</td>
					</tr>
				# endfor
			</tbody>
		</table>
	# endfor
	
	
	<h2 id="clique_stats">Clique stats</h2>
	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th class="align-top">Model</th>
				<th class="align-top text-right">Numer of cliques</th>
				<th class="align-top text-right">Clique score</th>
				<th class="align-top text-right">Primitives<br/>per clique</th>
				<th class="align-top text-right">Merge tree<br/>unbalancedness</th>
			</tr>
		</thead>
		
		<tbody>
			# for model_name, model in models.items()
				# set cs = model.evos['clique_evo'].fitter
				<tr>
					<td>{{ model_link(model_name) }}</td>
					
					<td class="text-right">
						{{ cs.job_cnt }}
						# if cs.failed_cliques:
							<br/><span class="text-danger">(Also: {{ cs.failed_cliques | join(', ') }})</span>
						# endif
					</td>
					
					<td class="text-right">
						# if cs.scores_mean
							<span class="text-info">{{ '{:,.3f}'.format(cs.scores_mean) }}</span>
						# else
							{{ '{:,.3f}'.format(cs.scores_mean) }}
						# endif
						
						<small class="text-muted" data-toggle="tooltip" title="Standard deviation">
							±{{ '{:,.3f}'.format(cs.scores_std) }}
						</small>
						
						# if cs.worst_score_mean
							(Worst: <span class="text-info">{{ '{:,.2f}'.format(cs.worst_score_mean) }}</span>)
						# else
							(Worst: {{ '{:,.2f}'.format(cs.worst_score_mean) }})
						# endif
					</td>
					
					<td class="text-right">
						{{ '{:,.1f}'.format(cs.primitive_cnt_mean) }}
						<small class="text-muted" data-toggle="tooltip" title="Standard deviation">
							±{{ '{:,.3f}'.format(cs.primitive_cnt_std) }}
						</small>
					</td>
					
					<td class="text-right">
						{{ '{:,.0%}'.format(cs.unbalancedness_mean) }}
						<small class="text-muted" data-toggle="tooltip" title="Standard deviation">
							±{{ '{:,.3%}p'.format(cs.unbalancedness_std) }}
						</small>
					</td>
				</tr>
			# endfor
		</tbody>
	</table>
	
	
	<h2 id="partition_stats">Partition stats</h2>
	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th class="align-top">Model</th>
				<th class="align-top text-right">Numer of partitions</th>
				<th class="align-top text-right">Partition score</th>
				<th class="align-top text-right">Primitives<br/>per partition</th>
			</tr>
		</thead>
		
		<tbody>
			# for model_name, model in models.items()
				# set cs = model.evos['part_evo'].fitter
				<tr>
					<td>{{ model_link(model_name) }}</td>
					
					<td class="text-right">
						{{ '{:,.1f}'.format(cs.job_cnt_mean) }}
						<small class="text-muted" data-toggle="tooltip" title="Standard deviation">
							±{{ '{:,.3f}'.format(cs.job_cnt_std) }}
						</small>
					</td>
					
					<td class="text-right">
						# if cs.scores_mean
							<span class="text-info">{{ '{:,.3f}'.format(cs.scores_mean) }}</span>
						# else
							{{ '{:,.3f}'.format(cs.scores_mean) }}
						# endif
						
						<small class="text-muted" data-toggle="tooltip" title="Standard deviation">
							±{{ '{:,.3f}'.format(cs.scores_std) }}
						</small>
						
						# if cs.worst_score_mean
							(Worst: <span class="text-info">{{ '{:,.2f}'.format(cs.worst_score_mean) }}</span>)
						# else
							(Worst: {{ '{:,.2f}'.format(cs.worst_score_mean) }})
						# endif
					</td>
					
					<td class="text-right">
						{{ '{:,.1f}'.format(cs.primitive_cnt_mean) }}
						<small class="text-muted" data-toggle="tooltip" title="Standard deviation">
							±{{ '{:,.3f}'.format(cs.primitive_cnt_std) }}
						</small>
					</td>
				</tr>
			# endfor
		</tbody>
	</table>
# endblock
