# extends "layout.html"
<!--
    This file is part of csgfitter <https://gitlab.com/Skrupellos/csg-fitter>
    Copyright (c) Skruppy <skruppy@onmars.eu>
    SPDX-License-Identifier: Apache-2.0
-->

# block content
	<h1>{{ title }}</h1>
	<ul>
		# for subthing in subthings
			<li><a href="{{return_path}}/{{ subthing.url | urlencode }}.html">{{ subthing.title }}</a></li>
		# endfor
	</ul>
# endblock
