<!--
    This file is part of csgfitter <https://gitlab.com/Skrupellos/csg-fitter>
    Copyright (c) Skruppy <skruppy@onmars.eu>
    SPDX-License-Identifier: Apache-2.0
-->
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
		<link rel="stylesheet" href="{{ return_path }}/assets/bootstrap.min.css" />
		<title>{{ title }} | CSG fitter</title>
		
		<style>
			html {
				position: relative;
				min-height: 100%;
			}
			
			body {
				padding-bottom: 30px;
			}
			
			footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 30px;
				line-height: 30px; /* Vertically center text */
				background-color: #f5f5f5;
			}
			
			{% block inline_css %}{% endblock %}
		</style>
	</head>
	
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
			<div class="container">
				<a class="navbar-brand" href="{{return_path}}/index.html">CSG fitter</a>
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navCollapse" aria-controls="navCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navCollapse">
					{% block nav %}{% endblock %}
					
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Other
							</a>
							
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
								# if subthings
									<h6 class="dropdown-header">Other subthings</h6>
									# for subthing in subthings
										# if subthing.key == selected_subthing_key
											<a class="dropdown-item active" href="{{return_path}}/{{ subthing.url | urlencode }}.html">
												{{ subthing.title | safe }}
											</a>
										# else
											<a class="dropdown-item" href="{{return_path}}/{{ subthing.url | urlencode}}.html">
												{{ subthing.title | safe }}
											</a>
										# endif
									# endfor
									<div class="dropdown-divider"></div>
									<h6 class="dropdown-header">Other things</h6>
								# endif
								<a class="dropdown-item" href="{{return_path}}/final/index.html">Final tests</a>
								<a class="dropdown-item" href="{{return_path}}/ab/index.html">A/B evaluations</a>
								<a class="dropdown-item" href="{{return_path}}/size/index.html">Population size</a>
								<a class="dropdown-item" href="{{return_path}}/selector-matrix/index.html">Optimizer evaluation &amp; configuration</a>
								<a class="dropdown-item" href="{{return_path}}/tournament/index.html">Tournament configuration</a>
								<a class="dropdown-item" href="{{return_path}}/renderings/index.html">Test renderings</a>
								<a class="dropdown-item" href="{{return_path}}/unittests/index.html">Unit tests</a>
								<a class="dropdown-item" href="{{return_path}}/coverage/index.html">Code coverage</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<main>
			<div class="container mt-5 mb-5">
				{% block content %}{% endblock %}
			</div>
		</main>
		
		<footer class="text-muted small">
			<div class="container">
				<a href="https://gitlab.com/Skrupellos/csg-fitter">Source</a> on GitLab.
			</div>
		</footer>
		
		<script src="{{ return_path }}/assets/jquery.slim.min.js"></script>
		<script src="{{ return_path }}/assets/bootstrap.bundle.min.js"></script>
		{% block inline_js %}{% endblock %}
		<script>
			(function () {
				"use strict";
				window.addEventListener("load", function () {
					var box, div, link, namespaceURI;
					// First check whether the page contains any <math> element.
					namespaceURI = "http://www.w3.org/1998/Math/MathML";
					if (document.body.getElementsByTagNameNS(namespaceURI, "math")[0]) {
						// Create a div to test mspace, using Kuma's "offscreen" CSS
						document.body.insertAdjacentHTML("afterbegin", "<div style='border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;'><math xmlns='" + namespaceURI + "'><mspace height='23px' width='77px'></mspace></math></div>");
						div = document.body.firstChild;
						box = div.firstChild.firstChild.getBoundingClientRect();
						document.body.removeChild(div);
						if (Math.abs(box.height - 23) > 1  || Math.abs(box.width - 77) > 1) {
							// Insert the mathml.css stylesheet.
							link = document.createElement("link");
							link.href = "{{ return_path }}/assets/mathml.css";
							link.rel = "stylesheet";
							document.head.appendChild(link);
						}
					}
				});
			}());
			
			$('[data-toggle="tooltip"]').tooltip();
		</script>
	</body>
</html>
