# extends "layout.html"
<!--
    This file is part of csgfitter <https://gitlab.com/Skrupellos/csg-fitter>
    Copyright (c) Skruppy <skruppy@onmars.eu>
    SPDX-License-Identifier: Apache-2.0
-->

# block nav
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="#overview">Overview</a></li>
		<li class="nav-item"><a class="nav-link" href="#comparison">Comparison</a></li>
		<li class="nav-item"><a class="nav-link" href="#tree">Tree</a></li>
		<li class="nav-item"><a class="nav-link" href="#files">Files</a></li>
	</ul>
# endblock

# macro print_meta_data(data)
	<dl class="row">
		<dt class="col-sm-1">File</dt><dd class="col-sm-11"><a href="{{ data.name }}.csv">{{ data.name }}.csv</a></dd>
		<dt class="col-sm-1">Size</dt><dd class="col-sm-11">{{ '{:,}'.format(data.n_points) }} Points</dd>
		<dt class="col-sm-1">X</dt><dd class="col-sm-11">{{ '{min[0]:6.6} &ndash; {max[0]:6.6} (width: {size[0]:6.6})'.format(**data)|safe }}</dd>
		<dt class="col-sm-1">Y</dt><dd class="col-sm-11">{{ '{min[1]:6.6} &ndash; {max[1]:6.6} (width: {size[1]:6.6})'.format(**data)|safe }}</dd>
		<dt class="col-sm-1">Z</dt><dd class="col-sm-11">{{ '{min[2]:6.6} &ndash; {max[2]:6.6} (width: {size[2]:6.6})'.format(**data)|safe }}</dd>
	</dl>
# endmacro

# block content
<h1>{{ name }}</h1>

<h2 id="overview">Overview</h2>
<table>
	<tr>
		<td><a href="{{ name | urlencode }}-surface-large-rhs-top.png" style="cursor: zoom-in;"><img src="{{ name | urlencode }}-surface-small-rhs-top.png" /></a></td>
		<td><a href="{{ name | urlencode }}-scad-large-3d.png" style="cursor: zoom-in;"><img src="{{ name | urlencode }}-scad-small-3d.png" /></a></td>
	</tr>
	<tr>
		<td><a href="{{ name | urlencode }}-surface-large-rhs-front.png" style="cursor: zoom-in;"><img src="{{ name | urlencode }}-surface-small-rhs-front.png" /></a></td>
		<td><a href="{{ name | urlencode }}-surface-large-rhs-right.png" style="cursor: zoom-in;"><img src="{{ name | urlencode }}-surface-small-rhs-right.png" /></a></td>
	</tr>
</table>

<h2 class="pt-5" id="comparison">Comparison</h2>
# for side in ('front', 'right', 'back', 'left', 'top', 'bottom')
	<h3>{{ side }}</h3>
	<p>
		<a href="{{ name | urlencode }}-surface-large-rhs-{{ side }}.png" style="cursor: zoom-in;"><img src="{{ name | urlencode }}-surface-small-rhs-{{ side }}.png" /></a>
		<a href="{{ name | urlencode }}-scad-large-{{ side }}.png" style="cursor: zoom-in;"><img src="{{ name | urlencode }}-scad-small-{{ side }}.png" /></a>
		<a href="{{ name | urlencode }}-volume-large-rhs-{{ side }}.png" style="cursor: zoom-in;"><img src="{{ name | urlencode }}-volume-small-rhs-{{ side }}.png" /></a>
	</p>
# endfor

<h2 class="pt-5" id="tree">Tree</h2>
<a href="{{ name | urlencode }}-tree.png" style="cursor: zoom-in;"><img src="{{ name | urlencode }}-tree.png" height="400" /></a>

<h2 class="pt-5" id="part">Partitions</h2>
<a href="{{ name | urlencode }}-graph-part.png" style="cursor: zoom-in;"><img src="{{ name | urlencode }}-graph-part.png" style="max-width: 100%;" /></a>

<h2 class="pt-5" id="clique">Cliques</h2>
<a href="{{ name | urlencode }}-graph-clique.png" style="cursor: zoom-in;"><img src="{{ name | urlencode }}-graph-clique.png" style="max-width: 100%;" /></a>

<h2 class="pt-5" id="clique">Clique Merge</h2>
<a href="{{ name | urlencode }}-graph-clique-merge.png" style="cursor: zoom-in;"><img src="{{ name | urlencode }}-graph-clique-merge.png" style="max-width: 100%;" /></a>

<h2 class="pt-5" id="files">Files</h2>

<h3>JSON</h3>
<p><a href="{{ name | urlencode }}.json">{{ name }}.json</a></p>
<pre class="bg-light"><code>{{ json }}</code></pre>

<h3 class="pt-3">Surface point cloud</h3>
{{ print_meta_data(meta_data.surface) }}

<h3 class="pt-3">Volume point cloud</h3>
{{ print_meta_data(meta_data.volume) }}

<h3 class="pt-3">OpenSCAD</h3>
<p><a href="{{ name | urlencode }}.scad">{{ name }}.scad</a></p>
<pre class="bg-light"><code>{{ scad }}</code></pre>

<h3 class="pt-3">CSG fitter binary</h3>
Generated with <em>csgfitter-static</em> version <code>{{ version }}</code>.
# endblock
