# extends "layout.html"
<!--
	This file is part of csgfitter <https://gitlab.com/Skrupellos/csg-fitter>
	Copyright (c) Skruppy <skruppy@onmars.eu>
	SPDX-License-Identifier: Apache-2.0
-->

# block inline_css
	/*<![CDATA[*/
	
	.sk-dia-matrix {
		table-layout: fixed;
		width: 100%;
	}
	.sk-dia-matrix img {
		width: 100%;
	}
	
	.sk-dia-matrix th {
		text-align: center;
	}
	
	.sk-dia-matrix th:first-child div {
		writing-mode: sideways-lr;
	}
	
	.sk-dia-matrix td:first-child, .sk-dia-matrix th:first-child {
		width: 1.6em;
	}
	
	.sk-dia-matrix td > div {
		display: flex;
	}
	
	.sk-dia-matrix td > div > div {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 0;
		overflow: hidden;
	}
	
	.sk-text-matrix {
		table-layout: fixed;
		width: 100%;
	}
	
	.sk-text-matrix .sk-color {
		display: inline-block;
		width: 1.5em;
		height: 1.3em;
		margin-bottom: -0.15em;
		border: 2px solid grey;
	}
	/*]]>*/
# endblock



# block inline_js
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		})
		/*]]>*/
	</script>
# endblock



# block nav
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="#stats">Parameter statistics</a></li>
		# if model_config.parameter_diagrams
			<li class="nav-item"><a class="nav-link" href="#diagrams">Parameter diagrams</a></li>
		# endif
		<li class="nav-item"><a class="nav-link" href="#distribution">Distribution</a></li>
		<li class="nav-item"><a class="nav-link" href="#sample-size">Sample size</a></li>
		# if model_config.parameter_diagrams
			<li class="nav-item"><a class="nav-link" href="#examples">Examples</a></li>
		# endif
		<li class="nav-item"><a class="nav-link" href="#outliers">Outliers</a></li>
	</ul>
# endblock


# block content
	# set model_desc = descriptions.models[model_name]
	<h1>{{ model_desc.html_label | safe }} <small class="text-muted">({{ model_name }})</small></h1>
	<p>
		Each <a href="index.html#configurations">optimizer configuration</a> was run 50 times on the same Geometry.
		Each run was evaluated by the <em>{{ model_desc.html_label | safe }}</em> optimizer evaluator.
		An evaluation determines {{ model_desc.props | length }} properties of a single optimizer run.
		An <a href="#outliers">outlier detection</a> filters the sample set afterwards and <a href="stats">statistics</a> of those properties are collected on the remaining samples.
	</p>
	
	<h2 class="mt-5" id="stats">Evaluator property statistics</h2>
	<p>
		For each <a href="index.html#configurations">optimizer configuration</a>, 50 samples have been generated and filtered by <a href="#outliers">outliers</a>.
		In each configuration, the optimizer evaluatior parameters have been summarized as the mean an standard deviation.
		They are listed in the tables below for reach Parameter.
		The colors are mapped to the mean and aim to be an visual comparison aid.
	</p>
	# for prop_name in model_desc.props.keys()
		<h5>{{ model_desc.props[prop_name].label }} <small class="text-muted">({{ prop_name }} of model {{ model_name }})</small></h5>
		<p>{{ model_desc.props[prop_name].desc | safe }}
		<table class="table-bordered sk-text-matrix mb-4">
			<tr>
				<th> </th>
				# for rep_strat in rep_strats
					# set desc = descriptions.rep_strats[rep_strat]
					<th data-toggle="tooltip" title="{{ desc.label }}">{{ desc.short_label }}</th>
				# endfor
			</tr>
			# for selector in selectors
				# set desc = descriptions.selectors[selector]
				<tr>
					<th data-toggle="tooltip" data-placement="left" title="{{ desc.label }}"><div>{{ desc.short_label }}</div></th>
					# for rep_strat in rep_strats
						# set prop = model.tbl[(selector, rep_strat)].filtered_props[prop_name]
						<td>
							<div class="sk-color" style="background: {{ prop.color }}70;"> </div>
							{{ '{:.3f}'.format(prop.mean) }} <small title="Offset standard deviation" class="text-muted">±{{ '{:.3f}'.format(prop.std) }}</small>
						</td>
					# endfor
				</tr>
			# endfor
		</table>
	# endfor
	
	
	# if model_config.parameter_diagrams
		<h2 class="mt-5" id="diagrams">Parameter diagrams</h2>
		<p>
			Different aspects of the raw non-summarized and unfiltered evaluation sample data are shown in the diagrams below.
		</p>
		# for diagram_config in model_config.parameter_diagrams
			<h5>"{{ diagram_config.name }}" <small class="text-muted">of model {{ model_name }}</small></h5>
			<table class="sk-dia-matrix mb-4">
				<tr>
					<th> </th>
					# for rep_strat in rep_strats
						# set desc = descriptions.rep_strats[rep_strat]
						<th data-toggle="tooltip" title="{{ desc.label }}">{{ desc.short_label }}</th>
					# endfor
				</tr>
				# for selector in selectors
					# set desc = descriptions.selectors[selector]
					<tr>
						<th data-toggle="tooltip" data-placement="left" title="{{ desc.label }}"><div>{{ desc.short_label }}</div></th>
						# for rep_strat in rep_strats
							# set diagram = model.tbl[(selector, rep_strat)].parameter_diagrams[diagram_config.name]
							<td class="text-center p-2">
								<a title="Zoom" href="{{ diagram.image }}">
									<img src="{{ diagram.thumbnail }}" />
								</a>
							</td>
						# endfor
					</tr>
				# endfor
			</table>
		# endfor
	# endif
	
	
	<h2 class="mt-5" id="distribution">Normal distribution test</h2>
	<p>
		Test whether the property values are normal distributed,
		or, more precisely, the following tests look for statistic evidence to clain the values are <em>not</em> normal distributed.
		This is done using <a href="https://en.wikipedia.org/wiki/Shapiro%E2%80%93Wilk_test">Shapiro-Wilk test</a>.
		Each cell contains "test statistic / p-value".
		The statistical significance α is choosen to be 5%.
		Value sets failing the test are marked red.
	</p>
	# for prop_name in model_desc.props.keys()
		<h5>Property "{{ prop_name }}" <small class="text-muted">of model {{ model_name }}</small></h5>
		<table class="table-bordered sk-text-matrix mb-4">
			<tr>
				<th> </th>
				# for rep_strat in rep_strats
					# set desc = descriptions.rep_strats[rep_strat]
					<th data-toggle="tooltip" title="{{ desc.label }}">{{ desc.short_label }}</th>
				# endfor
			</tr>
			# for selector in selectors
				# set desc = descriptions.selectors[selector]
				<tr>
					<th data-toggle="tooltip" data-placement="left" title="{{ desc.label }}"><div>{{ desc.short_label }}</div></th>
					# for rep_strat in rep_strats
						# set prop = model.tbl[(selector, rep_strat)].filtered_props[prop_name]
						<td>
							<span class="text-muted">S:</span>
							<span class="{{ "text-danger" if prop.shapiro_p <= 0.05 }}">
							{{ '{:.2f}'.format(prop.shapiro_w) }} / {{ '{:.4f}'.format(prop.shapiro_p) }}
							</span>
						</td>
					# endfor
				</tr>
			# endfor
		</table>
	# endfor
	
	
	<h2 class="mt-5" id="sample-size">Sample size</h2>
	<p>
		To get significant results from the evaluator, enough samples have to be taken.
		The minimal number of samples required is estimated based on the variance of 50 outlier-filtered samples and shown below.
		The level of significance is 95%.
		The margin of error is one 50th of the interquartile range.
		Hence the absolute errror is 1% of the interquartile range.
	</p>
	# for prop_name in model_desc.props.keys()
		<h5>Property "{{ prop_name }}" <small class="text-muted">of model {{ model_name }}</small></h5>
		<p>
			The interquartile range between
			{{ '{:.3f}'.format(model.n_min[prop_name].min) }} and
			{{ '{:.3f}'.format(model.n_min[prop_name].max) }} is
			{{ '{:.3f}'.format(model.n_min[prop_name].span) }}. Hence the error is &plusmn;
			{{ '{:.7f}'.format(model.n_min[prop_name].e) }}.
		</p>
		<table class="table-bordered sk-text-matrix mb-4">
			<tr>
				<th> </th>
				# for rep_strat in rep_strats
					# set desc = descriptions.rep_strats[rep_strat]
					<th data-toggle="tooltip" title="{{ desc.label }}">{{ desc.short_label }}</th>
				# endfor
			</tr>
			# for selector in selectors
				# set desc = descriptions.selectors[selector]
				<tr>
					<th data-toggle="tooltip" data-placement="left" title="{{ desc.label }}"><div>{{ desc.short_label }}</div></th>
					# for rep_strat in rep_strats
						# set prop = model.tbl[(selector, rep_strat)].filtered_props[prop_name]
						<td>
							{{ prop.n_min }}
						</td>
					# endfor
				</tr>
			# endfor
		</table>
	# endfor
	
	
	# if model_config.examples
		<h2 class="mt-5" id="examples">Examples</h2>
		<p>
			Out of the outlier filtered sample sets, a good representative for each optimizer configuration is selected and listed below.
			Diagrams show, based on the selected representative, the typical performance of an optimizer configuration, acording to the <em>{{ model_desc.html_label | safe }}</em> optimizer evaluator.
		</p>
		<table class="table table-sm">
			<thead>
				<tr>
					<th>Combination</th><th>Example</th>
				</tr>
			</thead>
			# for selector in selectors
				# set selector_desc = descriptions.selectors[selector]
				# for rep_strat in rep_strats
					# set rep_strat_desc = descriptions.rep_strats[rep_strat]
					# set cell = model.tbl[(selector, rep_strat)]
					<tr>
						<td>
							<span data-toggle="tooltip" title="{{ selector_desc.label }}">
								{{ selector_desc.short_label }}
							</span>
							/
							<span data-toggle="tooltip" title="{{ rep_strat_desc.label }}">
								{{ rep_strat_desc.short_label }}
							</span>
						</td>
						<td><code>{{ cell.example_test.base_path }}</code></td>
					</tr>
				# endfor
			# endfor
		</table>
		
		
		# for examples_config in model_config.examples
			<h5>"{{ examples_config.name }}" <small class="text-muted">of model {{ model_name }}</small></h5>
			<table class="sk-dia-matrix mb-4">
				<tr>
					<th> </th>
					# for rep_strat in rep_strats
						# set desc = descriptions.rep_strats[rep_strat]
						<th data-toggle="tooltip" title="{{ desc.label }}">{{ desc.short_label }}</th>
					# endfor
				</tr>
				# for selector in selectors
					# set desc = descriptions.selectors[selector]
					<tr>
						<th data-toggle="tooltip" data-placement="left" title="{{ desc.label }}"><div>{{ desc.short_label }}</div></th>
						# for rep_strat in rep_strats
							# set example = model.tbl[(selector, rep_strat)].examples[examples_config.name]
							<td class="text-center p-2">
								<a title="Zoom" href="{{ example.image }}">
									<img src="{{ example.thumbnail }}" />
								</a>
							</td>
						# endfor
					</tr>
				# endfor
			</table>
		# endfor
	# endif
	
	
	<h2 class="mt-5" id="outliers">Outliers</h2>
	<h5>Overview</h5>
	<p>
		The following table show how many outliers have been detected.
		All found outliers are listed in the list below.
	</p>
	<table class="table-bordered sk-text-matrix mb-4">
		<tr>
			<th> </th>
			# for rep_strat in rep_strats
				# set desc = descriptions.rep_strats[rep_strat]
				<th data-toggle="tooltip" title="{{ desc.label }}">{{ desc.short_label }}</th>
			# endfor
		</tr>
		# for selector in selectors
			# set desc = descriptions.selectors[selector]
			<tr>
				<th data-toggle="tooltip" data-placement="left" title="{{ desc.label }}"><div>{{ desc.short_label }}</div></th>
				# for rep_strat in rep_strats
					# set cell = model.tbl[(selector, rep_strat)]
					<td class="text-center p-2">
						<b>{{ cell.count_valid }}</b> /
						{{ cell.count_outlier }} /
						{{ cell.count_unfitted }}
					</td>
				# endfor
			</tr>
		# endfor
	</table>
	<p>
		Legend: Valid samples / Outliers / Unfitted samples
	</p>
	
	<h5>Failed tests</h5>
	<ul>
		# for selector in selectors
			# set selector_desc = descriptions.selectors[selector]
			# for rep_strat in rep_strats
				# set rep_strat_desc = descriptions.rep_strats[rep_strat]
				# set cell = model.tbl[(selector, rep_strat)]
				# if cell.unfitted_tests or cell.outlier_tests:
					<li>
						<h5>
							<span data-toggle="tooltip" title="{{ selector_desc.label }}">
								{{ selector_desc.short_label }}
							</span>
							/
							<span data-toggle="tooltip" title="{{ rep_strat_desc.label }}">
								{{ rep_strat_desc.short_label }}
							</span>
						</h5>
						<ul>
							# for test in cell.unfitted_tests:
								<li><code>{{ test.base_path }}</code> <small class="text-muted">(unfitted)</small></li>
							# endfor
							# for test in cell.outlier_tests:
								<li><code>{{ test.base_path }}</code> <small class="text-muted">(outlier)</small></li>
							# endfor
						</ul>
					</li>
				# endif
			# endfor
		# endfor
	</ul>
# endblock
