# extends "layout.html"
<!--
	This file is part of csgfitter <https://gitlab.com/Skrupellos/csg-fitter>
	Copyright (c) Skruppy <skruppy@onmars.eu>
	SPDX-License-Identifier: Apache-2.0
-->

# block inline_css
	/*<![CDATA[*/
	
	.sk-dia-matrix {
		table-layout: fixed;
		width: 100%;
	}
	.sk-dia-matrix img {
		width: 100%;
	}
	
	.sk-dia-matrix th {
		text-align: center;
	}
	
	.sk-dia-matrix th:first-child div {
		writing-mode: sideways-lr;
	}
	
	.sk-dia-matrix td:first-child, .sk-dia-matrix th:first-child {
		width: 1.6em;
	}
	
	.sk-dia-matrix td > div {
		display: flex;
	}
	
	.sk-dia-matrix td > div > div {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: 0;
		overflow: hidden;
	}
	
	.sk-text-matrix {
		table-layout: fixed;
		width: 100%;
	}
	
	.sk-text-matrix .sk-color {
		display: inline-block;
		width: 1.5em;
		height: 1.3em;
		margin-bottom: -0.15em;
		border: 2px solid grey;
	}
	/*]]>*/
# endblock


# block nav
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="#evaluators">Evaluators</a></li>
		<li class="nav-item"><a class="nav-link" href="#configurations">Configurations</a></li>
		<li class="nav-item"><a class="nav-link" href="#correlation">Correlation</a></li>
	</ul>
# endblock


# block content
	<h1>Optimizer evaluation &amp; configuration</h1>
	
	<table class="text-center ml-auto mr-auto">
		<tr class="display-4">
			<td class="pl-3 pr-3">{{ selectors|length }}</td>
			<td>&times;</td>
			<td class="pl-3 pr-3">{{ rep_strats|length }}</td>
			<td>&times;</td>
			<td class="pl-3 pr-3">{{ 50 }}</td>
			<td>&times;</td>
			<td class="pl-3 pr-3">{{ 150 }}</td>
			<td>&times;</td>
			<td class="pl-3 pr-3">{{ 500 }}</td>
			<td>=</td>
			<td class="pl-3 pr-3">{{ '{:,}'.format(selectors|length * rep_strats|length * 50 * 150 * 500) }}</td>
		</tr>
		
		<tr>
			<td><small class="text-muted">Parent selection<br />strategies</small></td>
			<td></td>
			<td><small class="text-muted">Child reinsertion<br />strategies</small></td>
			<td></td>
			<td><small class="text-muted">evo fits</small></td>
			<td></td>
			<td><small class="text-muted">Rounds of new<br />populations</small></td>
			<td></td>
			<td><small class="text-muted">Individuals per<br />population</small></td>
			<td></td>
			<td><small class="text-muted">Data points analyzed</small></td>
		</tr>
	</table>
	
	
	<h2 class="mt-5" id="evaluators">Optimizer evaluators</h2>
	<p>
		To compare optimizer configurations (or different optimizer algorithms as such) to each other, there needs to some sort of qualety measure.
		The following list contains different approaches to evaluate optimizer results and provide such measure.
		These optimizer evaluators are applied to 50 samples of each <a href="#configurations">optimizer configuration</a>.
		The detailed evaluation results are linked in the list below.
	</p>
	<ul>
		# for model_name, model_config in config.models.items()
			# set desc = descriptions.models[model_name]
			<li>
				<a href="{{ model_name }}.html">
					{{ desc.html_label | safe }} <small class="text-muted">({{ model_name }})</small>
				</a>
			</li>
		# endfor
	</ul>
	
	
	<h2 class="mt-5" id="configurations">Optimizer configurations</h2>
	<p>
		To compare the <a href="#evaluators">optimizer evaluators</a>, some different optimizer algorithems are needed.
		The different algorithems are generatd artificially by different configurations of the <em>evo</em> optimizer.
		Two <em>evo</em> parameters are changed and each resulting comination is used.
	</p>
	<ul>
		<li>The first parameter (rows) is how couples of parents will be pickt from the current population, to create offspring.</li>
		<li>The second parameter (columns) influences how the offspring is reinserted, to form the new population.</li>
	</ul>
	<p>
		The following diagrams give some insight how the configuration combinations change the optimisation process.
		Each of them shows a different aspects of the process using a single representative prcoess execution per configuration combination.
		Those representatives are <a href="fit_abc_parents_med.html#examples">good representatives of <em>fit_abc_parents_med</em></a>.
	</p>
	# for key_example_config in config.key_examples
		<h5 class="mt-5">{{ key_example_config.title|safe }}</h5>
		<table class="sk-dia-matrix">
			<tr>
				<th> </th>
				# for rep_strat in rep_strats
					<th>{{ rep_strat }}</th>
				# endfor
			</tr>
			# for selector in selectors
				<tr>
					<th><div>{{ selector }}</div></th>
					# for rep_strat in rep_strats
						# set cell = key_examples[(selector, rep_strat)][key_example_config.fig]
						<td class="text-center p-2">
##							# if table.tbl_dsc
##								<div>
##									{{ table.tbl_dsc(table.model, (selector, rep_strat))|safe }}
##								</div>
##							# endif
							<a title="Zoom" href="{{ cell.image }}">
								<img src="{{ cell.thumbnail }}" />
							</a>
						</td>
					# endfor
				</tr>
			# endfor
		</table>
	# endfor
	
	
	<h2 class="mt-5" id="correlation">Correlation</h2>
	<p>
		Next, we want so see how well an <a href="#evaluators">optimizer evaluator</a> is suited to replace another.
		Therefore we comapre each property of each evaluator to each other and measure how similar they evaluate each <a href="#configurations">optimizer configuration</a>.
		Since the properties use different scales, who may also be only ordinal, a rank correlation coifficient is used as a mesure of similarity.
		Hence, the following correlation matrix is based on <a href="https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient">Kendall's τ</a>.
	</p>
	<a title="Zoom" href="correlation.png">
		<img src="correlation-small.png" />
	</a>
# endblock
