# extends "layout.html"
<!--
    This file is part of csgfitter <https://gitlab.com/Skrupellos/csg-fitter>
    Copyright (c) Skruppy <skruppy@onmars.eu>
    SPDX-License-Identifier: Apache-2.0
-->


# block nav
	<ul class="navbar-nav">
		# for prop_name in prop_names
			<li class="nav-item"><a class="nav-link" href="#{{ prop_name }}">{{ prop_name }}</a></li>
		# endfor
	</ul>
# endblock


# block content
	<h1>Population size</h1>
	
	<table class="text-center ml-auto mr-auto">
		<tr class="display-4">
			<td class="pl-3 pr-3">{{ descriptions.rep_strats|length }}</td>
			<td>&times;</td>
			<td class="pl-3 pr-3">{{ samples_per_config }}</td>
			<td>&times;</td>
			<td class="pl-3 pr-3">{{ 150 }}</td>
			<td>&times;</td>
			<td class="pl-3 pr-3">{{ '{:,}'.format(sizes|sum) }}</td>
			<td>=</td>
			<td class="pl-3 pr-3">{{ '{:,}'.format(descriptions.rep_strats|length * samples_per_config * 150 * sizes|sum) }}</td>
		</tr>
		
		<tr>
			<td><small class="text-muted">Child reinsertion<br />strategies</small></td>
			<td></td>
			<td><small class="text-muted">evo fits</small></td>
			<td></td>
			<td><small class="text-muted">Rounds of new<br />populations</small></td>
			<td></td>
			<td><small class="text-muted">Individuals per<br />population</small></td>
			<td></td>
			<td><small class="text-muted">Data points analyzed</small></td>
		</tr>
	</table>
	
	<p>
		This test series tries to evaluate the effects of the population size on the fitting process.
		The fitting process is evaluated using the the "{{ descriptions.models[model_name].html_label | safe }}" ({{ model_name }}) model.
		The following sections show the mean and standard deviation of those properties depending on the population size.
		As population sizes {{ sizes | join(', ') }} has been choosen.
	</p>
	
	# for prop_name in prop_names
		<h2 id="{{ prop_name }}">{{ descriptions.models[model_name].props[prop_name].label | safe }} <small class="text-muted">({{ prop_name }} of {{ model_name }})</small></h2>
		<p>
			{{ descriptions.models[model_name].props[prop_name].desc | safe }}
		</p>
		
		<h5>Average</h5>
		<a href="{{ prop_name }}-avg.png"><img class="w-100" src="{{ prop_name }}-avg.png" /></a>
		
		<h5>Standard deviation</h5>
		<a href="{{ prop_name }}-std.png"><img class="w-100" src="{{ prop_name }}-std.png" /></a>
	# endfor
# endblock
