# extends "layout.html"
<!--
    This file is part of csgfitter <https://gitlab.com/Skrupellos/csg-fitter>
    Copyright (c) Skruppy <skruppy@onmars.eu>
    SPDX-License-Identifier: Apache-2.0
-->


# block inline_css
	dt {
		line-height: 1.2;
	}
# endblock


# block inline_js
	<script type="text/javascript">
		/*<![CDATA[*/
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		})
		/*]]>*/
	</script>
# endblock


# block nav
	<ul class="navbar-nav">
		<li class="nav-item"><a class="nav-link" href="#details">Details</a></li>
		<li class="nav-item"><a class="nav-link" href="#overview">Overview</a></li>
		<li class="nav-item"><a class="nav-link" href="#med_avg_problem">Med / Avg problem</a></li>
		<li class="nav-item"><a class="nav-link" href="#examples">Examples</a></li>
	</ul>
# endblock


# block content
	<h1>Tournament configuration</h1>
	<p>
		This series of tests evaluates which mating rate (MR) and which crossover rate (Cor) are the best for the tournament selector.
	</p>
	
	<h2 id="details">Details</h2>
	<p>
		The following diagrams show one model property (the one in the heading) in a heat map with the mating rate and the crossover rate on the axis.
		Since for each coordinate only one sample was taken, the raw data can be noisy.
		To counter this, also a smoothed version with gausian blur is provided, but no outlier removal algorithm has been applied.
	</p>
	# for config in configs
		# set model_desc = descriptions.models[config.model_name]
		# set prop_desc = model_desc.props[config.prop_name]
		<h5 id="{{config.model_name}}-{{config.prop_name}}">
			{{model_desc.html_label | safe}} - {{prop_desc.label}}
			<small class="text-muted">({{config.model_name}} - {{config.prop_name}})</small>
		</h5>
		<div class="container row">
			<figure class="figure w-50">
				<a href="{{config.figures.smoothed}}.png"><img src="{{config.figures.smoothed}}.png" class="figure-img img-fluid"></a>
				<figcaption class="figure-caption">Smoothed data.</figcaption>
			</figure>
			
			<figure class="figure w-50">
				<a href="{{config.figures.raw}}.png"><img src="{{config.figures.raw}}.png" class="figure-img img-fluid"></a>
				<figcaption class="figure-caption">Raw data.</figcaption>
			</figure>
		</div>
		
		<dl class="row">
			<dt class="col-sm-3 mb-2">Maximum of smoothed data<br /><small class="text-muted">(<span style="color: red">red</span> cross heair)</small></dt>
			<dd class="col-sm-9">{{'{:.3f}'.format(config.smoothed_max.value)}} ({{config.smoothed_max.mating_rate}}% mating rate / {{config.smoothed_max.crossover_rate}}% cross over rate)</dd>
			
			<dt class="col-sm-3 mb-2">Minimum of smoothed data<br /><small class="text-muted">(<span style="color: blue">blue</span> cross heair)</small></dt>
			<dd class="col-sm-9">{{'{:.3f}'.format(config.smoothed_min.value)}} ({{config.smoothed_min.mating_rate}}% mating rate / {{config.smoothed_min.crossover_rate}}% cross over rate)</dd>
			
			<dt class="col-sm-3 mb-2">Maximum of raw data<br /><small class="text-muted">(<em>not</em> marked with cross hair)</small></dt>
			<dd class="col-sm-9">{{'{:.3f}'.format(config.raw_max)}}</dd>
			
			<dt class="col-sm-3 mb-2">Minimum of raw data<br /><small class="text-muted">(<em>not</em> marked with cross hair)</small></dt>
			<dd class="col-sm-9">{{'{:.3f}'.format(config.raw_min)}}</dd>
		</dl>
	# endfor
	
	
	<h2 id="overview">Overview</h2>
	<p>
		The following table just repeats the the min- and maxima of the section above, in a more consolidated form.
	</p>
	<table class="table table-sm table-hover">
		<thead>
			<tr>
				<th rowspan="2">Model - Property</th>
				<th colspan="3">Maxima <small class="text-muted">(<span style="color: red">red</span> cross heair)</small></th>
				<th colspan="3">Minima <small class="text-muted">(<span style="color: blue">blue</span> cross heair)</small></th>
			</tr>
			<tr>
				<th>Value</th>
				<th data-toggle="tooltip" title="Matring rate [%]">MR</th>
				<th data-toggle="tooltip" title="Cross over rate [%]">CoR</th>
				<th>Value</th>
				<th data-toggle="tooltip" title="Matring rate [%]">MR</th>
				<th data-toggle="tooltip" title="Cross over rate [%]">CoR</th>
			</tr>
		</thead>
		
		<tbody>
			# for config in configs
				# set model_desc = descriptions.models[config.model_name]
				# set prop_desc = model_desc.props[config.prop_name]
				<tr>
					<td>
						<a href="#{{config.model_name}}-{{config.prop_name}}">{{model_desc.html_label | safe}} - {{prop_desc.label}}</a><br />
						<small class="text-muted">({{config.model_name}} - {{config.prop_name}})</small>
					</td>
					<td>{{'{:.3f}'.format(config.smoothed_max.value)}}</td>
					<td>{{config.smoothed_max.mating_rate}}%</td>
					<td>{{config.smoothed_max.crossover_rate}}%</td>
					<td>{{'{:.3f}'.format(config.smoothed_min.value)}}</td>
					<td>{{config.smoothed_min.mating_rate}}%</td>
					<td>{{config.smoothed_min.crossover_rate}}%</td>
				</tr>
			# endfor
		</tbody>
	</table>
	
	
	<h2 id="med_avg_problem">Med / Avg problem</h2>
	<p>
		Upon closer inspection of the detailed results. One may find a good amount of similarity in the {{descriptions.models['fit_ab_all_med'].html_label | safe}} and {{descriptions.models['fit_ab_all_avg'].html_label | safe}} models, except in the areas of high matring rate and high crossover rate. It seems like the improvement rates in thorse areas drop in the later model.
	</p>
	<div class="container row">
		<figure class="figure w-50">
			<a href="fit_ab_all_med-rate-raw.png"><img src="fit_ab_all_med-rate-raw.png" class="figure-img img-fluid"></a>
			<figcaption class="figure-caption">Raw improvements rates of {{descriptions.models['fit_ab_all_med'].html_label | safe}}.</figcaption>
		</figure>
		
		<figure class="figure w-50">
			<a href="fit_ab_all_avg-rate-raw.png"><img src="fit_ab_all_avg-rate-raw.png" class="figure-img img-fluid"></a>
			<figcaption class="figure-caption">Raw improvements rates of {{descriptions.models['fit_ab_all_avg'].html_label | safe}}.</figcaption>
		</figure>
	</div>
	
	<p>
		To corroborate this theory, the difference between the two models (shown above) ist shown bellow.
	</p>
	<div class="container row">
		<figure class="figure w-50">
			<a href="{{diff.figures.smoothed}}.png"><img src="{{diff.figures.smoothed}}.png" class="figure-img img-fluid"></a>
			<figcaption class="figure-caption">Difference in improvement rates (smoothed data).</figcaption>
		</figure>
		
		<figure class="figure w-50">
			<a href="{{diff.figures.raw}}.png"><img src="{{diff.figures.raw}}.png" class="figure-img img-fluid"></a>
			<figcaption class="figure-caption">Difference in improvement rates (raw data).</figcaption>
		</figure>
	</div>
	
	<p>
		To inspect this problem further, some hand picked samples out of the troublesome area are shown below.
	</p>
	# for example in diff_examples
		<h5>MR {{example.mating_rate}}% / CoR {{example.crossover_rate}}%</h5>
		<p>
			Example from <code>{{example.base_path}}</code> with a difference between the models of <em>{{'{:.1f}'.format((example.models['fit_ab_all_med'].rate - example.models['fit_ab_all_avg'].rate)*100)}}pp</em>.
		</p>
		<div class="container row">
			# for model_name in ['fit_ab_all_med', 'fit_ab_all_avg']:
				<figure class="figure w-50">
					<a href="{{example.models[model_name].file}}.png" title="Click to zoom">
						<img
							src="{{example.models[model_name].file}}.png"
							class="figure-img img-fluid"
						/>
					</a>
					
					<figcaption class="figure-caption">
						{{descriptions.models[model_name].html_label | safe}} -
						improvement rate: {{'{:.1%}'.format(example.models[model_name].rate)}}
					</figcaption>
				</figure>
			# endfor
		</div>
	# endfor
	
	
	<h2 id="examples">Examples</h2>
	<p>
		The diagrams are clusters of four neighboring datapoints.
		The clusters are at hand picked from some promising points found in the data above.
		The diagrams show more details of the selected MR/CoR configurations.
		This should help picking the final MR/CoR configuration for the final tests.
	</p>
	
	# for example in examples
		<h5>MR {{example.mating_rate}}% / CoR {{example.crossover_rate}}%</h5>
		<p>
			Example from <code>{{example.base_path}}</code>.
		</p>
		<div class="container row">
			# for figures, path in example.figures.items():
				<figure class="figure w-25">
					<a href="{{path}}.png" title="Click to zoom">
						<img src="{{path}}.png" class="figure-img img-fluid" />
					</a>
					
					<figcaption class="figure-caption">
						{{figures}}
					</figcaption>
				</figure>
			# endfor
		</div>
	# endfor
# endblock
